#root {
  text-align: center;
  background-color: #242424;
  height: 100%;
}

.main {
  height: calc(100% - var(--player-height, 93px));
  /* padding-bottom: 5.75rem; */
  box-sizing: border-box;
}

header {
  display: flex;
  padding: .5em 1em;
  background-color: rgba(255, 255, 255, 0.15);
}
header .dinamic {
  flex-grow: 1;
  box-sizing: border-box;
}

.floor {overflow-y: auto;}

@media screen and (max-width: 480px) {
  #root {height: auto;}
  .main {padding-bottom: 0;height: auto;}
  .floor {
    overflow-y: initial;
    padding-bottom: calc(var(--player-height, 136px) + var(--sidebar-height, 58px));
  }
}