.playlist {
  width: 100%;
  height: calc(100% - var(--header-height));
  position: relative;
  padding: 1em;
  box-sizing: border-box;
}

.header {text-align: left;}
.header > img {max-height: 12em;}
.header .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .play-pause {font-size: 2.5em;cursor: pointer;}

.like-songs {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
  text-align: left;
  padding: 1em 0;
}
.like-songs > div {width: 100%;}
.like-songs .enum {
  width: 2em;
  padding-left: 1em;
  text-align: right;
}
.like-songs .name {width: 45%;}
.like-songs .album {
  width: 25%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.like-songs .time {
  width: 15%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.like-songs .duration {padding-right: 1em;}

@media screen and (max-width: 480px) {
  /* .floor {height: 100%;} */
  .loading {height: calc(100vh - var(--header-height) - var(--player-height));}
  .header > img {display: none;}
  .like-songs {padding-bottom: 0;}
  .like-songs .enum, .like-songs .album, .like-songs .time {display: none;}
  .like-songs .name {flex-grow: 1;}
  .like-songs .like {padding: 0;}
}