.sidebar {
  flex: 0;
  position: relative;
  background-color: #181818;
}
.logo {width: 100%;}

.menu a {
  display: block;
  white-space: nowrap;
  text-align: left;
  padding: 1em;
}
.menu i {
  color: white;
  font-size: 1.5em;
  width: 2em;
  box-sizing: border-box;
}
.menu a:hover i {color: #0097A7;}
.menu a.active {
  font-weight: 500;
  color: var(--yellow6);
  background-color: #0a0a0a;
}
.menu a.active i {color: var(--yellow6);}

.shink {
  font-size: 1.25em;
  position: absolute;
  bottom: 0;right: 0;
  width: 100%;
  text-align: right;
  padding-right: .5em;
  cursor: pointer;
}
.shink i {transition: transform .25s;}
.shink:hover {color: #0097A7;}
.sidebar.minimize .menu i {width: auto;}
.sidebar.minimize .menu span {
  display: block;
  width: 0;height: 0;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .sidebar .wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 200;
    background-color: #242424;
  }
  .main {flex-direction: column-reverse;}
  .logo {display: none;}
  .menu {display: flex;}
  .menu a {
    font-size: 0.875em;
    display: inline-block;
    white-space: normal;
    text-align: center;
    flex: 1;
    padding: .75em 0;
  }
  .menu i {
    padding: 0;
    padding-bottom: .25em;
    width: auto;
    display: block;
    font-size: 1.25rem;
  }
  .menu span {
    font-size: 12px;
    font-weight: 300;
    display: block;
    line-height: 1;
  }
  .shink {display: none;}
  .sidebar.minimize .menu span {
    display: inline-block;
    width: auto;height: auto;
    visibility: visible;
  }
}